/*
    - Gloal Styles 
*/


html, body {
    height: auto;
    width: 100%;
    background-color: #F7F7F7;
}

/* GitHub  */
.github {
    height: auto;
    width: 100%;
    background-color: black;
}
/* GitHub  */